<div style="width:300px;">
  
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>"form-signin") do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>
<%= f.email_field :email,:class=>"form-control",:placeholder=>"Email address", :autofocus=>true%>
<%= f.password_field :password,:class=>"form-control",:placeholder=>"Password" %>
<%= f.submit "Sign in", :class => "btn btn-primary" %><small> or <%=link_to "Sign Up", users_sign_up_path %></small>
<% end %>

</div>
