<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper OAuth 2 Provider</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= render 'layouts/flash', :flash => flash %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>


